<div class="form-group">
<div class="col-xs-3">
  <label>name:</label>
  {{input valueBinding="name" placeholder="Name" class="form-control" action="doSearch" on="enter"}}
</div>
<div class="col-xs-3">
  <label>alias:</label>
  {{input valueBinding="alias" placeholder="Alias" class="form-control" action="doSearch" on="enter"}}
</div>
<div class="col-xs-3">
  <label>address:</label>
  {{input valueBinding="address" placeholder="Address" class="form-control" action="doSearch" on="enter"}}
</div>
</div>
<div style="clear: both; margin-bottom: 20px;"> </div>
<div style="margin-bottom: 20px;">
  <button {{action "deleteSelected"}} class="glyphicon">Delete</button>
</div>
{{search-result model=model}}
<div style="clear: both; margin-bottom: 20px;"> </div>
<div class="form-group">
  <div class="form-group">
    <label>ID</label>
    {{editEntity.id}}
  </div>
  <div class="form-group">
    <label>Name</label>
    {{input type="text" valueBinding="editEntity.name" placeholder="Name" }}
  </div>
  <div class="form-group">
    <label>Alias</label>
    {{input type="text" valueBinding="editEntity.alias" placeholder="Alias"}}
  </div>
  <div class="form-group">
    <label>Address</label>
    {{input type="text" valueBinding="editEntity.address" placeholder="Address"}}
  </div>
</div>
<div style="margin-bottom: 20px;">
  <button {{action "new"}} class="glyphicon">New</button>
  <button {{action "save"}} class="glyphicon">Save</button>
</div>
